
/*!!!!Style for counter!!!!*/
.leaflet-container {
    height: 800px;
    width: 100%;
    position: relative;
}

* {
	margin: 0;
	padding: 0;
}

div {
	color: black;
}

.app-wrapper {
	display: flex;
	.modal-window {
		width: 75px;
    	position: relative;
	}
	input {
		width: 80%;
		margin: 5px;
	}
}

.button-block {
    width: 90px;
	display: flex;
	flex-direction: column;
}

.modal-window {
	width: 50px;
	height: 20px;
	z-index: 50;
}

 .sr-only {
    display: none;
  }
